<!DOCTYPE html>
<html
  lang="ko"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/home}"
>
  <header class="main" th:fragment="header">
    <h1>테스트</h1>
    <p>모의테스트</p>
  </header>

  <nav class="main" th:fragment="nav">
    <ul>
      <li class="home">Home</li>
      <li class="mycar">주식차트</li>
      <li class="tacho">주식정보</li>

      <th:block th:if="${session.LOGINUSER == null}">
        <li class="login">로그인</li>
        <li class="join">회원가입</li>
      </th:block>

      <th:block
        th:if="${session.LOGINUSER != null}"
        th:with="USER = ${session.LOGINUSER}"
      >
        <li class="logout">로그아웃</li>
        <li class="mypage" th:text="${USER.u_name}">My Page</li>
        
        <li th:if="${USER.u_role == 'ADMIN'}" class="admin">관리자</li>
      </th:block>
    </ul>
  </nav>

  <footer th:fragment="footer">
    <address>CopyRight &copy; marpol.marpol.com All Right Reserved</address>
  </footer>
</html>
